{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                
                <legend class="border-bottom mb-4">Time entry for {{hov}}</legend>
                <div class="form-group">
                    {{ form.unit.label(class="form-control-label") }}
                    {% if form.unit.errors %}
                        {{ form.unit(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.unit.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.unit(class="form-control form-control-lg") }}
                    {% endif %}
                    <small>Project must be created first</small>
                    <br>
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}